<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: #E8E8E8;">
    © <%= new Date().getFullYear() %> Copyright - GuiaPress.com</a>
  </div>
</footer>
