<div class="jumbotron">
  <h1 class="display-6">Bem-vindo ao GuiaPress</h1>
  <p class="lead">O mais novo blog do Programador NodeJs.</p>
  <hr class="my-4" />
  <p>O GuiaPress promove um papo reto sobre a profissão de programador com dicas de carreira, back-end, front-end.</p>
</div>
